html,
body {
 margin: 0;
 background: #f5f5f5;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
header {
 background: #2a92f1;
 padding: 16px 25px;
 box-shadow: 0 2px 9px 0px #a1a1a1;
 display: flex;
 flex-direction: row;
 align-content: space-around;
 justify-content: space-between;
 align-items: center;
}
header > h3 {
 margin: 0;
 padding: 0;
 color: #fff;
 cursor: pointer;
}
header > svg {
 cursor: pointer;
 fill: #fff;
 border-radius: 50%;
 border: 7px solid #2a92f1;
}
header > svg:active {
 border: 7px solid #93cbff;
}
h4 {
 margin-top: 0;
 color: #858585;
}

.content {
 color: #858585;
}
.Overlay {
 background: #000000;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 998;
 height: 100%;
 opacity: 0.25;
}
.Dialog {
 z-index: 999;
 background: #fff;
 box-shadow: 1px 2px 4px 0px #6a6a6a;
 border-radius: 7px;
 padding: 25px;
 padding-top: 15px;
 box-sizing: border-box;
 width: 90%;
 max-width: 500px;
 max-height: calc(100% - 150px);
 margin: 0 auto;
 position: absolute;
 top: 50%;
 left: 50%;
 overflow: hidden;
 transform: translateX(-50%) translateY(-50%);
}
textarea {
 outline: none;
 box-sizing: border-box;
 width: 100%;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 line-height: 1.7;
 font-size: 14px;
}
.sm {
 height: 75px;
}
.md {
 height: 150px;
}
.Dialog textarea {
 margin-bottom: 20px;
 min-height: 75px;
 padding: 10px;
 background: #84898d;
 color: #fff;
 border: none;
 resize: vertical;
 white-space: nowrap;
 max-height: 250px;
}
.titlebar {
 border-bottom: 1px solid #ccc;
 padding-bottom: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
}
.titlebar svg {
 width: 20px;
 margin: 0;
 padding: 0px 8px;
 border-radius: 50%;
 fill: #858585;
 cursor: pointer;
}
.titlebar svg:active {
 background: #e5e5e5;
}
.actionbar {
 border-top: 1px solid #ccc;
 padding-top: 20px;
 padding-right: 5px;
 padding-left: 10px;
 color: #2a92f1;
 font-size: 13px;
}

.container {
 background: white;
 box-shadow: 1px 2px 4px 0px #b5b5b5;
 border-radius: 7px;
 padding: 25px;
 box-sizing: border-box;
 width: 90%;
 max-width: 750px;
 margin: 0 auto;
 position: absolute;
 top: 120px;
 left: 0;
 right: 0;
 display: grid;
 grid-template-areas:
  "contacts"
  "msg"
  "actions";
}
.container:after {
 content: "Made with â¤ by Ashik saleem";
 position: absolute;
 bottom: -100px;
 text-align: center;
 margin: 0 auto;
 left: 0;
 right: 0;
 font-size: 12px;
 color: #aeaeae;
 padding-bottom: 25px;
}
.contacts_section {
 grid-area: contacts;
}
.msg_section {
 grid-area: msg;
}
.actions_section {
 grid-area: actions;
 padding-top: 23px;
 padding-right: 15px;
 display: flex;
 align-items: stretch;
 flex-direction: column;
}
.info_bar {
 color: #ef6868;
 font-size: 13px;
 margin-bottom: 10px;
 margin-top: -13px;
}
.btn_bar {
 border-top: 1px solid #ccc;
 padding-top: 20px;
}
.info_bar > svg {
 width: 15px;
 margin-right: 7px;
 fill: #ef6868;
 vertical-align: middle;
 margin-top: -3px;
}

.Wrap {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 margin-bottom: 30px;
}
.Wrap > svg {
 fill: #cecece;
 cursor: pointer;
 width: 30px;
 border-radius: 4px;
}
.Wrap > svg:active {
 background: #fafafa;
 fill: #2a92f1;
}
.Nbox {
 margin-right: 10px;
 position: relative;
 font-size: 14px;
 width: 100%;
}

.msg_section textarea {
 margin: 0px;
 padding: 10px;
 min-height: 170px;
 border: 1px solid #dadada;
 resize: vertical;
 background: linear-gradient(90deg, #2a92f1, #2a92f1) center bottom/0 0.15em no-repeat, linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat, linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
 transition: background-size 0.2s ease;
}
.primary {
 background: #2a92f1;
 box-shadow: 2px 2px 6px 0px #7e7e7e;
 color: #fff;
 margin-left: 25px;
 width: 100%;
}
.secondary {
 color: #ccc;
 display: none;
 background: #eeeeee;
}
.btn {
 padding: 10px 17px;
 border: none;
 outline: none;
 border-radius: 4px;
 float: right;
 cursor: pointer;
}
select {
 padding: 10px 5px;
 outline: none;
 border: none;
 margin-right: 6px;
 width: 65px;
 cursor: pointer;
 background: #fff;
 color: #000;
}

.Nbox input {
 border: none;
 outline: none;
 -webkit-appearance: none;
 -ms-appearance: none;
 -moz-appearance: none;
 appearance: none;
 background: #f2f2f2;
 padding: 12px;
 border-radius: 3px;
 width: 100%;
 box-sizing: border-box;
 font-size: 14px;
 border-radius: 0;
 background: linear-gradient(90deg, #2a92f1, #2a92f1) center bottom/0 0.15em no-repeat, linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat, linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
 transition: background-size 0.2s ease;
}

.Nbox .placeholder {
 position: absolute;
 left: 12px;
 top: 17px;
 transform: translateY(-50%);
 color: #aaa;
 transition: top 0.2s, left 0.2s ease, color 0.2s ease, font-size 0.2s ease;
}

.Nbox input:focus + .placeholder,
.Nbox input:not(:placeholder-shown) + .placeholder {
 top: -10px;
 left: 0;
 font-size: 10px;
 color: #222;
}

.Nbox input:not(:placeholder-shown),
.Nbox input:focus {
 background-size: 100% 0.15em, 100% 0.1em, 100%;
}
.msg_section textarea:not(:placeholder-shown),
.msg_section textarea:focus {
 background-size: 100% 0.15em, 100% 0.1em, 100%;
}

@media only screen and (min-width: 312px) {
 .primary {
  width: auto;
 }
 .secondary {
  display: block;
 }
}
@media only screen and (min-width: 600px) {
 .container {
  grid-template-areas:
   "msg contacts"
   "actions actions";
  grid-template-columns: 45% auto;
  gap: 20px;
  grid-gap: 20px;
 }
 .msg_section {
  padding-right: 30px;
  border-right: 1px solid #ccc;
 }
 .msg_section textarea {
  min-height: 330px;
 }
 .actions_section {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
 }
 .info_bar {
  margin-bottom: 0;
  margin-top: 0;
 }
 .btn_bar {
  border-top: none;
  padding-top: 0;
 }
}
.i_err {
 background: linear-gradient(90deg, red, red) center bottom/0 0.15em no-repeat, linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat, linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat !important;
 background-size: 100% 0.15em, 100% 0.1em, 100% !important;
}
.p_err {
 color: red !important;
}
